<div class="hear_me_notification  notice notice-error is-dismissible">
	<p class="hear_me_notification__text">{{ message }}</p>
	<div class="hear_me_notification__buttons">
		<a class="hear_me_notification__button" href={{ settings_link }}>
			{{ settings_text }}
		</a>
		<a class="hear_me_notification__button" href={{ wizard_link }}>
			{{ wizard_text }}
		</a>
	</div>
</div>
