<div id="wizard_step_2" class="hear_me_wizard__step">
	<h2 class="hear_me_wizard__step__title">
		{{ step_title }}
	</h2>

	<input type="number" id="{{ fieldNumber }}" class="hear_me_wizard__step__input hear_me_wizard__step__input--number" name="hear_me_options[{{ fieldNumber }}]" value="1" min="1"/>

	<div class="hear_me_wizard__step__radio_buttons">
		{% for labelOption, valueOption in options %}
			<div class="hear_me_wizard__step__radio_single">
				<label id="label_{{valueOption}}" for="{{valueOption}}" class="hear_me_wizard__step__radio_label">{{ labelOption }}
					<input id='{{ valueOption }}' type="radio" name="hear_me_options[{{ fieldRadio }}]" id="{{ fieldRadio }}" value={{ valueOption }}>
					<img src="{{ assetsPath }}{{ valueOption }}.png" class="hear_me_wizard__step__image" alt="{{ valueOption }}">
				</label>
			</div>
		{% endfor %}
	</div>
</div>
